{% extends "profiles/base_admin.html" %}
{% load static %}
{% block modal %}
<div id="modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <span id="modal-close" class="close">&times;</span>
      </div>
      <div class="modal-body">
        <p class="modal-body-text"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="modal-close">Close</button>
        <button type="button" class="btn btn-primary" id="modal-save">Confirm</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block content %}
<main class="main">
  <div class="main__hero">
    <div class="page">
      <div class="page__title">
        <h2>User management</h2>

      </div>
    </div>
    {% if messages %}
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>{{ message }}</div>
    {% endfor %}
    {% endif %}
    <div class="main__content">
      <table class="table">
        <thead>
          <tr>
            <th class="row-checkbox">
            </th>
            <th>id</th>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email address</th>
            <th>Institute</th>
            <th>Date joined</th>
            <th>Active</th>
            <th>Approval</th>
            <th>Super User</th>
            <th>Staff</th>
          </tr>
        </thead>
        <tbody>
          {% for item in users %}
          <tr>
            <td data-id={{ item.user.id }}>{{ item.user.id }}</td>
            <td>{{ item.user.username }}</td>
            <td>{{ item.user.first_name }}</td>
            <td>{{ item.user.last_name }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.user.institute }}</td>
            <td>{{ item.user.date_joined }}</td>
            <td class="text-center">{% if not item.user.is_active %}
              <div class="block block-danger">No</div>
              {% else %}
              <div class="block block-success">Yes</div>
              {% endif %}
            </td>
            <td class="text-center">{% if not item.verified %}
              <div class="block block-danger">No</div>
              {% else %}
              <div class="block block-success">Yes</div>
              {% endif %}
            </td>
            <td class="text-center">{% if not item.user.is_superuser %}
              <div class="block block-danger">No</div>
              {% else %}
              <div class="block block-success">Yes</div>
              {% endif %}
            </td>
            <td class="text-center">{% if not item.user.is_staff %}
              <div class="block block-danger">No</div>
              {% else %}
              <div class="block block-success">Yes</div>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</main>
{% endblock %}
{% block script %}
<script src="{% static 'profiles/js/action_users.js' %}"></script>
{% endblock %}
