{% extends "rice/base.html" %}
{% block style %}
<style>
  .hero .head-info {
    color: #eba012;
    font-size: 2rem;
  }

  .hero-about .container {
    max-width: 1200px;
    width: 100% !important;
    float: none !important;
    padding: 0 15px;
    margin: 0 auto !important;
    position: relative;
    z-index: 2;
  }

  .hero-about .container .derivation {
    text-align: center;
    background: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 50px;
    margin-top: -4em;
  }

  .hero-about .container .derivation__text {
    text-align: left;
  }
</style>

{% endblock %}
{% block content %}
<section class="hero">
  <div class="container">
    <h3 class="head-info">การเรียบเรียงและจัดเก็บข้อมูลเพื่อการสืบค้นข้อมูลคุณสมบัติและโภชนาการข้าวไทย</h3>
  </div>
</section>
<section class="hero-about">
  <div class="container">
    <div class="derivation">
      <div class="derivation__text">
        <h3>ความเป็นมา</h3>
        <p>ข้าวเป็นแหล่งอาหารสำคัญของประชากรโลกมาช้านาน โดยเฉพาะประชากรในทวีปเอเชียที่นิยมบริโภคและปลูกข้าวปลูกเอเชีย
          (Oryza sativa L.) มากเป็นอันดับหนึ่ง นอกจากคาร์โบไฮเดรตซึ่งเป็นแหล่งพลังงาน
          และสารอาหารหลักแล้ว ในเมล็ดข้าวยังอุดมไปด้วยวิตามิน แร่ธาตุ รวมถึงสารพฤกษเคมีที่อยู่ในข้าว
          อย่างสารประกอบฟีนอลิก ฟลาโวนอยด์ ตัวอย่างเช่น สารแอนโทไซยานินที่มีฤทธิ์ต้านอนุมูลอิสระ
          และต้านการอักเสบ ซึ่งมีประโยชน์ต่อร่างกายในกระบวนการต่อต้านการเกิด oxidative stress ที่จะเป็นอันตรายต่อเซลล์
          จากข้อมูลในเว็บไซต์องค์ความรู้เรื่องข้าว (Rice Knowledge Bank) โดยกองวิจัยและพัฒนาข้าว กรมการข้าว
          กระทรวงเกษตรและสหกรณ์ระบุว่ามีการสำรวจและรวบรวมเชื้อพันธุ์ข้าวกว่า 20,000 ตัวอย่าง
          จากแหล่งปลูกต่าง ๆ ทั่วประเทศไทยมาตั้งแต่ปี พ.ศ. 2525 นอกจากการรวบรวมตัวอย่างเชื้อพันธุกรรม
          ที่ศูนย์ปฏิบัติการและเก็บเมล็ดเชื้อพันธุ์ข้าวแห่งชาติ (Rice Genebank) แล้ว
          ยังมีการเก็บรวมรวมบันทึกข้อมูลลักษณะทางสัณฐานวิทยา ลักษณะประจำพันธุ์สำคัญ
          การวิเคราะห์องค์ประกอบทางเคมีและกายภาพของเมล็ดข้าว
          รวมถึงการแปรรูปผลิตภัณฑ์เพื่อให้ได้มาซึ่งข้อมูลทางโภชนาการของข้าวไทย
          ซึ่งเป็นข้อมูลที่มีความสำคัญอย่างยิ่งต่อการวิจัยและพัฒนาข้าวสายพันธุ์ใหม่ที่มีคุณลักษณะตามต้องการ
          เป็นที่ต้องการของตลาดและกลุ่มผู้บริโภค
          ที่รักสุขภาพ ทั้งยังเพิ่มขีดความสามารถในการแข่งขันและมูลค่าการส่งออกของข้าวไทยในตลาดโลก
        </p>
        <p>
          ข้อมูลโภชนาการข้าวเป็นข้อมูลที่มีมูลค่าสูง เนื่องจากต้องใช้ต้นทุนทั้งงบประมาณและแรงงาน
          ในการศึกษาวิเคราะห์องค์ประกอบทางเคมีและกายภาพของเมล็ดข้าวในห้องปฏิบัติการ เป็นที่น่าเสียดายว่า
          ในอดีตข้อมูลดังกล่าวจัดเก็บอย่างกระจัดกระจายไปหลายแหล่งเก็บตามศูนย์วิจัยข้าวทั่วประเทศ ทำให้เกิด
          ความซ้ำซ้อนของชุดข้อมูลและไม่สามารถตรวจสอบความเชื่อมโยงระหว่างชุดข้อมูลที่มาจากศูนย์วิจัยคนละที่ได้
          นักวิจัยจากกรมการข้าวซึ่งเป็นเจ้าของข้อมูลโภชนาการข้าวไทยได้เล็งเห็นปัญหาด้านการบริหารจัดการข้อมูลดังกล่าว
          จึงมีแนวคิดว่าการนำกระบวนการทางสารสนเทศเข้ามาช่วยจัดการและจัดเก็บข้อมูลต่าง ๆ ให้เป็นระเบียบ
          โดยการสร้างตัวกลางเพื่อช่วยสื่อสาร ตรวจสอบความถูกต้องและเชื่อมความสัมพันธ์ระหว่างชุดข้อมูลต่าง ๆ
          ทั้งยังมีฟังก์ชันเสริมการทำงานเช่นการวิเคราะห์เปรียบเทียบข้อมูลโภชนาการข้าวในแต่ละสายพันธุ์
          พร้อมการแสดงผลการวิเคราะห์เชิงสถิติในรูปแบบกราฟ ตาราง ที่สามารถบันทึกหรือนำข้อมูลออกในรูปแบบรายงาน
          หรือไฟล์ประเภทต่าง ๆ ได้สะดวก ทั้งนี้เพื่อเป็นข้อมูลสนับสนุนการตัดสินใจวางแผนการทดลองต่อไปของนักวิจัย
          และยังเป็นการสร้างมูลค่าและคุณค่าข้อมูลโภชนาการให้นำไปใช้ต่อยอดได้อย่างมีประสิทธิภาพสูงสุด
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
